<?xml version="1.0"?>
<launch>

  <arg name="sim" default="true"/>
<!--  <arg name="cmd_vel" default="mechROS_base_control/cmd_vel"/>-->
  <arg name="prefix" default="mechROS_"/>
  <arg name="launch_robot_localization" default="false"/>
<!--  <arg name="has_safety_module" default="false"/>-->


    <!-- Simulation - Load joint controller configurations from YAML file to parameter server -->
  <group if="$(arg sim)">	  	  
	  <rosparam file="$(find mech_ros)/control/mechROS_skid_steer_control.yaml" command="load"/>  
	  
	  <!-- if robot_localization node is launched the controller must not publish the odom tf-->
	  <param if="$(arg launch_robot_localization)" name="mechROS_base_control/enable_odom_tf" value="false"/>	 
	  

	  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" ns="/mechROS" args="base_control"> </node>

  </group>
    
</launch>

