 
 <launch>
  <!-- Extended Kalman filter fusion - odometry -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_rel" clear_params="true" >
        <remap from="/set_pose" to="/set_pose_rel"/>
        
        <param name="frequency" value="60"/>
        <param name="sensor_timeout" value="0.034"/>
        <param name="two_d_mode" value="true"/>
      
        <param name="map_frame" value="map"/>
        <param name="odom_frame" value="mechROS/tf/odom"/>
        <param name="base_link_frame" value="mechROS_base_link"/>
        <param name="world_frame" value="mechROS/tf/odom"/>
      
        <param name="odom0" value="/mechROS/base_control/odom"/>
        <param name="imu0" value="/imu/data_corrected"/>
        <param name="pose0" value="/Laser_scan_matcher/pose"/>        

        <rosparam param="odom0_config">[false,  false,  false,
                                        false,  false,  false,
                                        true,  true,  false,
                                        false,  false,  true,
                                        false,  false,  false]</rosparam>
        <rosparam param="imu0_config">[false,  false,  false,
                                        false,  false,  true,
                                        false,  false,  false,
                                        false,  false,  true,
                                        true,  false,  false]</rosparam>
        
        <rosparam param="pose0_config">[true,  true,  false,
                                        false,  false,  true,
                                        false,  false,  false,
                                        false,  false,  false,
                                        false,  false,  false]</rosparam>

        
        <param name="odom0_differential" value="false"/>
        <param name="imu0_differential" value="false"/>
        <param name="pose0_differential" value="true"/>
        
        <param name="odom0_relative" value="false"/>
        <param name="pose0_relative" value="false"/>
        <param name="imu0_relative" value="false"/>
        
        <param name="odom0_queue_size" value="30"/>
        <param name="pose0_queue_size" value="10"/>
        <param name="imu0_queue_size" value="30"/>

        <!-- Thresholdy - otestovat -->
        <!-- <param name="odomN_twist_rejection_threshold" value="10"/>
        <param name="imuN_angular_velocity_rejection_threshold" value="10"/>
        <param name="imuN_linear_acceleration_rejection_threshold" value="10"/> -->
      
        <param name="print_diagnostics" value="true"/>
      
        <!-- <param name="debug"           value="true"/>
        <param name="debug_out_file"  value="$(find mech_ros)/debug/debug_ekf_rel.txt"/> -->
      
        <!-- <rosparam param="control_config">[true,  false, false,
                                  false, false, true]</rosparam> -->

        <rosparam param="process_noise_covariance">[0.05, 0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                    0,    0.05, 0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0.06, 0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0.03, 0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0.03, 0,    0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0.04, 0,     0,     0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0.05, 0,     0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,     0.05, 0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,     0,     0.04, 0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,     0,     0,    0.01, 0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0.01, 0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0.02, 0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0.01, 0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0.01, 0,
                                                    0,    0,    0,    0,    0,    0,    0,     0,     0,    0,    0,    0,    0,    0,    0.015]</rosparam>
      
        <param name="dynamic_process_noise_covariance" value="true"/>

        <rosparam param="initial_estimate_covariance">[1e-9, 0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                       0,    1e-9, 0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                       0,    0,    1e-9, 0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                       0,    0,    0,    1e-9, 0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                       0,    0,    0,    0,    1e-9, 0,    0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                       0,    0,    0,    0,    0,    1e-9, 0,    0,    0,    0,     0,     0,     0,    0,    0,
                                                       0,    0,    0,    0,    0,    0,    1e-9, 0,    0,    0,     0,     0,     0,    0,    0,
                                                       0,    0,    0,    0,    0,    0,    0,    1e-9, 0,    0,     0,     0,     0,    0,    0,
                                                       0,    0,    0,    0,    0,    0,    0,    0,    1e-9, 0,     0,     0,     0,    0,    0,
                                                       0,    0,    0,    0,    0,    0,    0,    0,    0,    1e-9,  0,     0,     0,    0,    0,
                                                       0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     1e-9,  0,     0,    0,    0,
                                                       0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     1e-9,  0,    0,    0,
                                                       0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     1e-9, 0,    0,
                                                       0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    1e-9, 0,
                                                       0,    0,    0,    0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    1e-9]</rosparam>
        
            <!-- Initial estimation - delete after testing -->
        <rosparam param="initial_state">[ 0.0,  0.0,  0.0,
                                          0.0,  0.0,  0.0,
                                          0.0,  0.0,  0.0,
                                          0.0,  0.0,  0.0,
                                          0.0,  0.0,  0.0]</rosparam>
    
        <param name="publish_tf" value="true"/>
        <remap from="/odometry/filtered" to="/odometry_rel/filtered" />
        <remap from="/accel/filtered" to="/accel_rel/filtered" />
    </node>
</launch>