<launch>

<!-- Arguments -->
  <arg name="model" default="$(find mech_ros)/robot_description/urdf/mechROS.xacro"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find mech_ros)/rviz/marker_localization.rviz" />
  <arg name="map_file" default="$(find mech_ros)/map/muzeum_map.yaml"/>
  <arg name="prefix" default="mechROS_"/>
  
<!-- Global Parameters -->
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>



    <!-- IMU Madgwick fusion -->
  <node name="imu_filter_node" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen">
    <param name="world_frame" value="enu" />
    <param name="use_magnetic_field_msg" value="false" />
    <param name="use_mag" value="true" />
    <param name="orientation_stddev" value="0.1" />
    <param name="fixed_frame" value="imu_link" />
    <param name="publish_tf" value="false" />
        <!-- Debug -->
    <!-- <param name="publish_debug_topics" value="true" /> -->
    <!-- <param name="stateless" value="true" /> -->
  </node>

<!-- Correct orientation from Madgwick for declination -->
 <node name="declination_corrector" pkg="mech_ros" type="Declination_correction.py"/>


<!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
output="screen" ns="/mechROS" args="base_control"> </node> -->


  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="False"/>
   </node>

   <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>
 
 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

 
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

<!-- Detect markers from image -->
 <node name="markers_detector" pkg="mech_ros" type="Aruco_Gazebo_detect.py"/>

    <!-- Estimate pose from marker -->
 <node name="markers_pose" pkg="mech_ros" type="marker_tr_publish_real.py"/>

 <!-- Extended Kalman - relatve -->
  <include file="$(find mech_ros)/launch/ext_kalman_relative.launch"/>

   <!-- Extended Kalman - absolute -->
  <include file="$(find mech_ros)/launch/ext_kalman_absolute.launch"/>

  
</launch>