<launch>

  <arg name="model" default="$(find mech_ros)/robot_description/urdf/mechROS.xacro"/>
  <arg name="gui" default="true" />
<!--  <arg name="rvizconfig" default="$(find mech_ros)/rviz/urdf_map.rviz" />-->
  <arg name="rvizconfig" default="$(find mech_ros)/rviz/urdf_navig.rviz" />
  <arg name="map_file" default="$(find mech_ros)/map/muzeum_map.yaml"/>
  <arg name="sim" default="true"/>
<!--  <arg name="cmd_vel" default="mechROS_base_control/cmd_vel"/>-->
  <arg name="prefix" default="mechROS_"/>
  <arg name="launch_robot_localization" default="false"/>

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>


  <group if="$(arg sim)">	  	  
	  <rosparam file="$(find mech_ros)/control/mechROS_skid_steer_control.yaml" command="load"/>  
	  
	  <!-- if robot_localization node is launched the controller must not publish the odom tf-->
	  <param if="$(arg launch_robot_localization)" name="mechROS_base_control/enable_odom_tf" value="false"/>	 
	  
	  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" ns="/mechROS" args="base_control"> </node>
  </group>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="False"/>
   </node>
<!--  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <!-- Odometry_recalculator -->
 <node name="odometry" pkg="mech_ros" type="odometry_all.py"/>
 
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

   <!-- Static transform -->
<!-- <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="-3.5 -2.5 0.0 0 0 0.0 /map /mechROS/tf/odom 100"/> -->
 <!-- AMCL -->
  <include file="$(find mech_ros)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find mech_ros)/launch/move_base_simul.launch"/>

</launch>
