<launch>

 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="twist_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.01" />
  </node>

 <!-- Axes -->
  <node pkg="mech_ros" type="Teleop.py" name="teleop"/>


</launch>