<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- ros control plugin -->
  <xacro:macro name="ros_control">
    <gazebo>
      <plugin name="ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/mechROS</robotNamespace>
        <controlPeriod>0.001</controlPeriod>
	    <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
			<legacyModeNS value= "true"/>
      </plugin>
    </gazebo>
	</xacro:macro>
	
	<!-- skid steering plugin -->
	<xacro:macro name="skid_steering" params="broadcastOdomTF prefix wheelSeparation wheelDiameter">
    <gazebo>
      <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
         <robotNamespace>/mechROS</robotNamespace>
		    <updateRate>100.0</updateRate>
		    <leftFrontJoint>front_left_wheel_joint</leftFrontJoint>  
		    <rightFrontJoint>front_right_wheel_joint</rightFrontJoint>
		    <leftRearJoint>back_left_wheel_joint</leftRearJoint>
		    <rightRearJoint>back_right_wheel_joint</rightRearJoint>
		    <wheelSeparation>${wheelSeparation}</wheelSeparation>
		    <wheelDiameter>${wheelDiameter}</wheelDiameter>
		    <robotBaseFrame>${prefix}base_link</robotBaseFrame>
		    <torque>10</torque>
		    <commandTopic>control/cmd_vel</commandTopic>
		    <odometryTopic>control/odom</odometryTopic>
		    <odometryFrame>odom</odometryFrame>
		    <broadcastTF>${broadcastOdomTF}</broadcastTF>
      </plugin>
    </gazebo>
  </xacro:macro> 

</robot>
